* {
   font-family: 'Segoe UI', sans-serif;
   margin: 0;
   padding: 0;
}

body {
   background-color: #F3F2EF;
}

nav {
   width: 100%;
   background-color: #ffffff;
   position: sticky;
   top: 0;
   z-index: 100;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.nav-wrapper {
   width: 79%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px 135px;

}

.logo {
   width: 18%;
   display: flex;
   justify-content: space-between;
} 

nav img {
   width: 80px;
}

a {
   text-decoration: none;
   cursor: pointer;
   color: #0A66C2;
}

nav a {
   border: 1px solid #0A66C2;
   padding: 8px 12px;
   border-radius: 10px;
}

.btn-demo {
   color: #ffffff;
   background-color: #0A66C2;
   margin-left: 20px;
}

.btn-demo:hover {
   background-color: #ffffff;
   color: #0A66C2;
}

.btn-visit:hover {
   background-color: #62a7ec;
   color: #ffffff;
}

section {
   width: 80%;
   margin: 60px auto;
}

.section-title {
   font-size: 22px;
   font-weight: 500;
   margin-bottom: 30px;
}

.logo-img {
   width: 35px;
   margin-right: 10px;
   position: relative;
   bottom: 5px;
}

.logo-dr {
   width: 30px;
}

.logo-iam, .logo-med, .logo-sajenwa, .logo-risk {
   position: relative;
   top: 1px;
}

.logo-weber {
   width: 20px;
}

.logo-max {
   width: 60px;
}

.grid-wrapper {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, auto));
   grid-template-rows: repeat(auto-fill, minmax(400px, auto));
   gap: 30px;
}

.card {
   background-color: #ffffff;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   padding: 25px 30px;
}

.card-img {
   width: 100%;
   height: 60%;
   margin-bottom: 20px;
   cursor: zoom-in;
}

.card-img img {
   width: 100%;
   transition: transform 0.3s;
}

.card-img img:hover {
   transform: scale(1.2);
}

.card-details {
   width: 100%;
}

.card-full {
   background-color: #ffffff;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   padding-bottom: 25px;
}

.card-img-full {
   width: 100%;
   height: 60%;
   margin-bottom: 35px;
   cursor: zoom-in;
}

.card-deets-full{
   width: 80%;
   margin: 0 auto;
}

.img-full{
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
   /* height: 100%; */
   width: 100%;
   transition: transform 0.3s;
}

.img-full:hover {
   transform: scale(0.9);
}

.img-middle {
   position: relative;
   top: 30px;
}

.card-logo {
   display: flex;
   margin-top: 10px;
   /* margin-bottom: 4px; */
}

.card-logo-full {
   display: flex;
}

.title {
   text-transform: uppercase;
   font-size: 12px;
}

.subtitle {
   line-height: 22px;
   font-size: 13px;
}

/* .card-details a {
   margin-top: 10px;
   float: right;
} */

/* .link-saj{
   position: relative;
   top: 40px;
} */

/* .link-med {
   position: relative;
   top: 25px;
} */

.modal {
   display: none; 
   position: fixed;
   z-index: 1;
   padding-top: 40px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgb(0,0,0);
   background-color: rgba(0,0,0,0.9);
 }
 
 .modal-content {
   margin: auto;
   display: block;
   width: 75%;
   max-width: 900px;
 }
 
 #caption {
   margin: auto;
   display: block;
   width: 80%;
   max-width: 700px;
   text-align: center;
   color: #ccc;
   padding: 10px 0;
   height: 150px;
   text-transform: uppercase;
   margin-top: 10px;
   font-weight: 600;
 }
 
 .modal-content, #caption {  
   -webkit-animation-name: zoom;
   -webkit-animation-duration: 0.6s;
   animation-name: zoom;
   animation-duration: 0.6s;
 }
 
 @-webkit-keyframes zoom {
   from {-webkit-transform:scale(0)} 
   to {-webkit-transform:scale(1)}
 }
 
 @keyframes zoom {
   from {transform:scale(0)} 
   to {transform:scale(1)}
 }
 
 .close {
   position: absolute;
   top: 15px;
   right: 35px;
   color: #f1f1f1;
   font-size: 40px;
   font-weight: bold;
   transition: 0.3s;
 }
 
 .close:hover,
 .close:focus {
   color: #bbb;
   text-decoration: none;
   cursor: pointer;
 }
